*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "微软雅黑";
}
.wrapper{
	width: 800px;
	height: 640px;
	margin: 10px auto;
	background-color: #aaa;
	border-radius:6px ;
}
.banner{
	margin:0 0 15px 50px;
	padding-top: 20px;
}
#historyMsg{
	width: 500px;
	height: 360px;
	background-color: #fff;
	border-radius: 6px;
	margin-left: 50px;
}
.controls{
	margin: 10px 0 10px 50px;
}
.items{
	margin: 10px 0;
}
.items #colorStyle{
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.items #emoji{
	padding: 1px 8px;
	cursor: pointer;
}
.items .imageLable{
	cursor: pointer;
	color: #333;
}
#messageInput{
	width: 400px;
	height: 70px;
	background-color: #fff;
	border-radius:6px;
}
#sendBtn{
	width: 100px;
	height: 70px;
	background-color: #666;
	position: absolute;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 24px;
}
.rightMsg{
	width: 180px;
	height: 360px;
	background-color: #fff;
	float: right;
	margin-top: -360px;
	margin-right: 20px;
	padding:0 20px;
}
/*遮罩层*/
#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}
#nickWrapper {
    display: none;
    margin: 20px;
    padding: 5px;
}
#nicknameInput{
	padding: 6px 16px;
}
#loginBtn{
	padding: 6px;
	cursor: pointer;
}
